<div class="login-page-bg">
  <header class="login-page-header">
    <img class="logo" src="../assets/images/logo.svg" />
  </header>
  <main class="login-page-main">
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="login-page-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" class="login-page-input">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" class="login-page-input" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="input-wrapper">
          <button mat-flat-button
                  color="primary"
                  type="submit"
                  [disabled]="loginForm.invalid"
          >Login</button>
        </div>
      </div>

    </form>

  </main>
</div>
