/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(240, 240, 240, 0.15);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f4f4f4;
}
